th, td {
    padding: 8px;
    text-align: center;
    height: 25px;
    border: 2px solid #1a7c77 ;
  } 
  
  th {
    background-color: #115C58;
    color: #00FDDF;
    font-size: 25px;
    font-weight: 600;
  } 
  
  .table-container, .table-container-classe {
    overflow: hidden;
    margin: 6rem auto 0;
    width: 700px;
  }

  td {
    font-size: 20px;
    background-color: #00c5ae00;
  }
  
  table {
    border: 1px solid #115C58;
    width: 100%;
    height: 100%;
    margin-top: 2rem;
    border: 2px solid #115C58;
  }

  body, html {
    height: 100%;
    margin: 0;
  }
  
  .loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5); 
  }
  
  .loader {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid #115C58;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

